@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

html {
  height: 100%;
}

body {
  min-height: 100%;
  font-family: "Inter", sans-serif;
}

.top-slide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.top-slide::-webkit-scrollbar {
  display: none;
}
a[data-active="true"] {
  @apply bg-purple text-white;
}
a[data-active="false"] {
  @apply text-[#212121] bg-[#f5f5f5];
}

[data-collapsed="false"] #CityArea {
  @apply block;
}
[data-collapsed="true"] #CityArea {
  @apply hidden;
}
[data-collapsed="false"] .CityBtn svg {
  @apply rotate-180;
}
[data-tab="2"] .cities,
[data-tab="2"] .search-group {
  @apply hidden;
}
[data-tab="1"] .pick-up {
  @apply hidden;
}
